# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.
# User-specific Files
.vs/
*.user
*.suo
*.vssscc
*.vspscc
*.sln.docstates
*.cache

# Build Folders
bin/
obj/

# Logs and Debugging
*.log
*.tlog
*.lastcodeanalysissucceeded

# NuGet Packages
*.nupkg
packages/
project.lock.json


# Temporary Files
*_ReSharper*/
*.resharper*
*.dotCover
*.coverage

# Entity Framework Migrations
Migrations/


# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
node_modules/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings


# System files
.DS_Store
Thumbs.db