:root{
  
  align-items: center;

}

.container{
  border-radius: 5%;;
  background-color: beige;
  justify-content: center;
  align-items: center;
}
.button{
  text-align: center;
  justify-content: center;
  cursor: pointer;
  width:10em;
  background-color: orange;
}

.form-input{
  display:flex;
  flex-direction: column;
  
}

.input{
  margin-bottom: 10px;
  margin-left:  10px;
  margin-right:  10px;
}
